/* * : universal selector selects every single element */
* {
  background-color: aqua;
}
/* Type selector:  select elements of that type */
li {
  /* background-color: beige; */
  margin: 1em;
}
div {
  margin: 3em;
}

/* class selector */
.red {
  color: red;
}

/* id selector */
#idselector {
  background-color: brown;
}

/* Descendant selector */
div a {
  text-decoration: none;
}

/* Direct child selector */
div > span {
  background-color: hsl(300, 50%, 60%);
}

/* General sibling selector */
div ~ p {
  background-color: hsl(320, 50%, 80%);
}

/* Adjacent sibling selector */
div + .adjacent {
  background-color: hsl(230, 50%, 60%);
  color: aliceblue;
}

/* Or selector */
.first-p,
.second-p {
  background-color: hsla(130, 40%, 70%, 0.5);
}

/* And selector */
p.and {
  background-color: hsla(180, 40%, 70%, 0.5);
}

/* Pseudo class selector */
button {
  background-color: hsla(250, 40%, 70%, 0.5);
  margin: 1em 0 0 4em;
}
/* Hover selector*/
button:hover {
  background-color: hsla(250, 40%, 60%, 0.5);
  color: beige;
}

/* Focus selector */
input:focus {
  background-color: aquamarine;
}

/* Required selector */
input:required {
  border: 2px solid hsla(360, 40%, 30%, 0.5);
  background-color: brown;
  color: bisque;
}

/* Checkbox selector */
input:checked {
  margin-left: 50px;
}

/* Disabled selector */
input:disabled {
  margin-left: 70px;
}

/* first child */
a:first-child {
  color: brown;
}

/* last child */
a:last-child {
  color: hsla(200, 50%, 20%, 0.6);
}
